{% extends "sales/base.html" %}

{% block title %}Home{% endblock %}

{% block header %}Private Sales{% endblock %}

{% block content %}
<p>
  Welcome to the Private Sales app!
  You can create sales and share a public link to them without creating an account.
</p>
<p>
  Make sure to <strong>only</strong> share the public sales page with others. Do <strong>not</strong>
  share the url to any of the sale management pages. This would allow others to edit your, sales, items, and images and even <span class="text-danger">delete</span> them!
</p>
<p>
  To get started, <a href="{% url 'sales:sale-create' %}">add your first sale</a>.
</p>
{% endblock %}
