{% extends "sales/base.html" %}

{% load thumbnail %}

{% block title %}Manage {{ item.name }}{% endblock %}

{% block header %}
    <a href="{% url 'sales:sale-manage' item.sale.pk %}">{{ item.sale.name }}</a> > {{ item.name }}
{% endblock %}

{% block content %}
<div class="card-deck text-center mx-2" style="max-width: 60rem;">

    <div class="card mx-auto w-75" style="max-width: 18rem;">
        <div class="card-header">Sharing</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'sales:item-detail' item.slug %}">View Item</a>
                </li>
                <li class="list-group-item">
                    <p>
                        Share the page url for <strong>View Item</strong> with others. Do <strong>not</strong> share the url in the browser bar above!
                    </p>
                    <p>
                        The <strong>View Item</strong> page does not give
                        access for editing and deleting, whereas this page does.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mx-auto w-75" style="max-width: 18rem;">
        <div class="card-header">
            Manage Item
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'sales:item-update' item.pk %}">Update</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'sales:item-delete' item.pk %}" class="text-danger">Delete</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mx-auto w-75" style="max-width: 40rem;">
        <div class="card-header">Images</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-success" href="{% url 'sales:image-create' item.pk %}">Add Image</a>
                </li>
            {% for image in item.images.all %}
                <li class="list-group-item">
                    {% thumbnail image.image "200x200" crop="center" as im %}
                    
                    <img class="rounded mx-auto m-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <a class="btn btn-danger" href="{% url 'sales:image-delete' image.pk %}">Delete</a>
                </li>
            
            {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}