{% extends "sales/base.html" %}

{% load thumbnail %}

{% block title %}{{ item.name }}{% endblock %}

{% block header %}<a href="{% url 'sales:sale-detail' item.sale.slug %}">{{ item.sale.name }}</a> > {{ item.name }} <span class="text-muted">(${{ item.price }})</span>{% endblock %}

{% block content %}

<div class="card-deck text-center mx-2" style="max-width: 60rem;">

    <div class="card mx-auto w-75" style="max-width: 18rem;">
        <div class="card-header">Description</div>
        <div class="card-body text-left"><p>{{ item.description }}</p></div>
    </div>

    <div class="card mx-auto w-75" style="max-width: 40rem;">
        <div class="card-header">Images</div>
        <div class="card-body text-left">
            {% if item.images.exists %}
            {% for image in item.images.all %}
            {% thumbnail image.image "200x200" crop="center" as im %}
            <img class="rounded mx-auto m-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            {% endfor %}
            {% else %}
            <p>This item does not have any images.</p>
            {% endif %}
        </div>
    </div>

</div>


{% endblock %}
