{% extends "sales/base.html" %}

{% load thumbnail %}

{% load crispy_forms_tags %}

{% block title %}Delete Image{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}


  {% thumbnail itemimage.image "200x200" crop="center" as im %}
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}

  <p>Are you sure you want to delete image?</p>

  <a href="{% url 'sales:item-manage' item_id %}" class="btn btn-primary">Back</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}
