{% extends "sales/base.html" %}

{% load crispy_forms_tags %}

{% block title %}{% if itemimage.pk %}Update{% else %}Create{% endif %} Image{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 30rem;">
  <div class="card-header">
    {% if itemimage.pk %}Update{% else %}Create{% endif %} Image
  </div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}

      <a class="btn btn-secondary" href="{% url 'sales:item-update' item_id %}">Back</a>
      <button type="submit" class="btn btn-primary">{% if itemimage.pk %}Update{% else %}Create{% endif %}</button>
      {# delete #}
      {% if itemimage.pk %}
      <a href="{% url 'sales:image-delete' itemimage.pk %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
