{% extends "sales/base.html" %}

{% load crispy_forms_tags %}

{% block title %}{% if item.pk %}Update{% else %}Create{% endif %} Item{% endblock %}

{% block header %}
  <a href="{% url 'sales:sale-manage' sale_id %}">{{ sale_name }}</a> > {% if item.pk %}Update{% else %}Create{% endif %} Item
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}

  <button type="submit" class="btn btn-primary">
    {% if item.pk %}Update{% else %}Create{% endif %}
  </button>
</form>
{% endblock %}
