{% extends "sales/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
{# Change title based on whether model exists already #}
{% if item.pk %}Update{% else %}Create{% endif %} Item
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete {{ item.name }}?</p>

  <a href="{% url 'sales:item-manage' item.pk %}" class="btn btn-primary">Back</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}
