{% extends "sales/base.html" %}

{% load crispy_forms_tags %}

{% block title %}{% if sale.pk %}Update{% else %}Create{% endif %} Sale{% endblock %}

{% block header %}{% if sale.pk %}Update{% else %}Create{% endif %} Sale{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <br>
  <button type="submit" class="btn btn-{% if sale.pk %}primary{% else %}success{% endif %}">
    {% if sale.pk %}Update{% else %}Create{% endif %}
  </button>
  {# add "delete" and "add item" if model exists already #}
  {% if sale.pk %}
  <a href="{% url 'sales:sale-delete' sale.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
</form>
{% endblock %}
