{% extends "sales/base.html" %}

{% block title %}Manage {{ sale.name }}{% endblock %}

{% block header %}{{ sale.name }}{% endblock %}

{% block content %}


<div class="card-deck text-center mx-2" style="max-width: 60rem;">
    <div class="card mx-auto w-75" style="max-width: 18rem;">
        <div class="card-header">Sharing</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'sales:sale-detail' sale.slug %}">View Sale</a>
                </li>
                <li class="list-group-item">
                    <p>
                        Share the page url for <strong>View Sale</strong> with others. Do <strong>not</strong> share the url in the browser bar above!
                    </p>
                    <p>
                        The <strong>View Sale</strong> page does not give
                        access for editing and deleting, whereas this page does.
                    </p>
                    <p>
                        Make sure to save a copy of the url in the browser bar for this page for future editing.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mx-auto w-75" style="max-width: 18rem;">
        <div class="card-header">Manage Sale</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'sales:sale-update' sale.pk %}">Update</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'sales:sale-delete' sale.pk %}" class="text-danger">Delete</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card mx-auto w-75" style="max-width: 18rem;">
        <div class="card-header">Manage Items</div>
        <div class="card-body">
            <p>Add new items or click on existing items to <span class="text-success">add photos</span>, update information, or delete item.</p>


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-success" href="{% url 'sales:item-create' sale.pk %}">Add Item</a>
                </li>

                {% for item in sale.items.all %}
                <li class="list-group-item">
                    <a href="{% url 'sales:item-manage' item.pk %}">{{ item.name }}</a> <span class="text-muted">(${{ item.price }})</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}