{% extends "sales/base.html" %}

{% block title %}{{ sale.name }}{% endblock %}

{% block header %}{{ sale.name }}{% endblock %}

{% block content %}

<div class="card-deck text-center mx-2" style="max-width: 60rem;">
  <div class="card mx-auto w-75" style="max-width: 18rem;">
    <div class="card-header">Items</div>
    <div class="card-body">
      {% if sale.items.exists %}
      <ul class="list-group list-group-flush">
        {% for item in sale.items.all %}
        <li class="list-group-item">
          <a href="{% url 'sales:item-detail' item.slug %}">{{ item.name }}</a> <span class="text-muted">(${{ item.price }})</span>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>There are no items in this sale yet.</p>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
