{% extends "sales/base.html" %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <p>Are you sure you'd like to delete <em>{{ sale.name }}?</em></p>
  <a href="{% url 'sales:sale-update' sale.pk %}" class="btn btn-primary">No</a>
  <button type="submit" class="btn btn-danger">Yes</button>
{% endblock %}
